.counters {
    padding: 3em 0em;
    background-image: url('../assets/city.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    clear: both;
    float: right;
    width: calc(100% - 300px);
    margin-bottom: 5em;

    @media (max-width: 1024px) {
        width: 100%;
        float: none;
    }
}

.counters:before{
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-image: url('../assets/city.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.counters .overlay {
    z-index: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
}

.narrow-content {
    padding: 0 2.5em;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.js .animate-box {
    opacity: 0;
}

.counters .counter {
    font-size: 40px;
    display: block;
    color: white;
    font-family: "Quicksand", Arial, sans-serif;
    width: 100%;
    font-weight: 700;
    margin-bottom: .3em;
}

.counters .counter-label {
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 5px;
    margin-bottom: 2em;
    display: block;
}