.contact {
  width: calc(100% - 300px);
  float: right;
  padding: 0 2.5em;
  margin-bottom: 4em;
  @media(max-width: 1024px) {
    width: 100%;
    float: none;
    padding: 0;
  }
}

.section-heading {
  font-size: 18px;
  margin-bottom: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
  position: relative;
}

.contact-box {
  width: fit-content;
  height: fit-content;
  padding: 2px 14px;
  padding-left: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 15px;
  border-radius: 20px;
  @media(max-width: 1024px) {
    padding: 0;
    margin: 10px;
    padding-left: 0;;
  }

}

.contact-outter {
  display: flex;
  align-items: center;
  letter-spacing: 3px;
  line-height: 1.8;
  font-size: 18px;
  width: 20%;
  margin-right: 50px;
  @media(max-width: 1024px) {
    width: 100%;
    float: none;
    padding: 0;
  }
}

.contact-outter p {
  color: #001648
}

.contact-outter a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-outter :hover {
  text-decoration: none;
  color: rgb(255, 123, 0);
  cursor: pointer;
}

.test {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media(max-width: 1024px) {
    display: flex;
    flex-direction: column;
  }
}

.contact-git {
  padding: 10px;
  margin: auto;
  color: white;
  width: calc(100%-300px);
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 56px -8px rgba(133, 133, 133, 0.17);
  background: #d0d0d0;
  width: fit-content;
  border-radius: 20px;
}

.contact-git p{
  color: black;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  font-size: 0.72rem;
  font-weight: 400;
  margin-bottom: 0;
  font-family: "Roboto", Arial, sans-serif;
}

.contact-git a{
  text-align: center;
  color: rgb(255, 120, 42);
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 400;
  font-family: "Roboto", Arial, sans-serif;
}